body {
  background: #eee;
}
.App {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 1px solid #555;
}

.btn:hover {
  border: 1px solid #999;
}
