.boxUser {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 150px;
  height: 350px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid;
}

img {
  width: 140px;
  height: 150px;
}
